{% extends "base.html" %}
{% comment %}
#
# This file is part of FreedomBox.
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}

{% load bootstrap %}
{% load i18n %}

{% block content %}
  <h3>{% trans "Security Report" %}</h3>
  <p>
    {% blocktrans trimmed with count=freedombox_report.vulns %}
      The installed version of FreedomBox has {{ count }} reported security
      vulnerabilities.
    {% endblocktrans %}
  </p>
  <p>
    {% blocktrans trimmed %}
      The following table lists the current reported number, and historical
      count, of security vulnerabilities for each installed app.
    {% endblocktrans %}
  </p>
  <p>
    {% blocktrans trimmed %}
      For apps that provide services, the "Sandboxed" column shows whether
      sandboxing features are in use. Sandboxing mitigates the impact of a
      potentially compromised app to the rest of the system.
    {% endblocktrans %}
  </p>
  <table class="table table-bordered table-condensed table-striped">
    <thead>
      <tr>
        <th>{% trans "App Name" %}</th>
        <th>{% trans "Current Vulnerabilities" %}</th>
        <th>{% trans "Past Vulnerabilities" %}</th>
        <th>{% trans "Sandboxed" %}</th>
      </tr>
    </thead>
    <tbody>
      {% for app in apps_report %}
        <tr>
          <td>{{ app.name }}</td>
          <td>{{ app.vulns }}</td>
          <td>{{ app.past_vulns|default_if_none:"❗"}}</td>
          <td>
            {% if app.sandboxed is None %}
              {% trans "N/A" %}
            {% elif app.sandboxed %}
              {% trans "Yes" %}
            {% else %}
              {% trans "No" %}
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
